# ÍNDICE
# **ISDI MDA**
# [Guía] Introducción a R
# N2: Manipulación Básica
---

### ÍNDICE DE CONTENIDO
La presente sesión está destinada a aprender a realizar operaciones de manipulación básicas de datos de forma simplificada utilizando funcionalidades incluídas en la librería *dplyr*
1. SELECCIONANDO COLUMNAS Y FILTRANDO FILAS 
2. CREANDO NUEVAS COLUMNAS
3. AGRUPANDO Y AGREGANDO DATA

### Profesor: Juan Martin Bellido (jmbelldo@isdi.education)

### Preparativos antes de comenzar

In [ ]:
# Instalamos librería "data.table" porque Google colab no la incluye por defecto
# Tendremos que repetir este paso en cada sesión, esto no ocurriría si estuvieramos trabajando en otro entorno (se instalaría una única vez)
install.packages("data.table")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
# Cargamos todas las librerías que utilizaremos en la sesión
require(dplyr)
require(data.table)

In [ ]:
# (Opcional) editamos las opciones globales para evitar que R utilice notación científica
options(scipen=999)

# SELECCIONANDO COLUMNAS Y FILTRANDO FILAS

Comenzamos aprendiendo a reducir un *data frame* en número de variables (columnas) y observaciones (filas)

### Seleccionando columnas
---
Para seleccionar columnas específicas que querramos conservar de un *data frame* utilizaremos la función *select()*

```
dplyr::select(object, columns ...)
```

A modo de simplificar la operación, la función select() suele utilizarse con el *pipe operator (%>%)*. En tal caso omitiremos definir el objeto como parámetro de la función

```
object %>% select(columns ...) 
```

In [ ]:
# Importamos un df
df_james_bond = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
glimpse(df_james_bond)

Rows: 26
Columns: 7
$ Film                <chr> "Dr. No", "From Russia with Love", "Goldfinger", …
$ Year                <int> 1962, 1963, 1964, 1965, 1967, 1967, 1969, 1971, 1…
$ Actor               <chr> "Sean Connery", "Sean Connery", "Sean Connery", "…
$ Director            <chr> "Terence Young", "Terence Young", "Guy Hamilton",…
$ `Box Office`        <dbl> 448.8, 543.8, 820.4, 848.1, 315.0, 514.2, 291.5, …
$ Budget              <dbl> 7.0, 12.6, 18.6, 41.9, 85.0, 59.9, 37.3, 34.7, 30…
$ `Bond Actor Salary` <dbl> 0.6, 1.6, 3.2, 4.7, NA, 4.4, 0.6, 5.8, NA, NA, NA…

In [ ]:
# Comenzamos seleccionando dos columnas específicas utilizando la sintaxis básica 
dplyr::select(df_james_bond,Film,Director)

   Film                            Director
1  Dr. No                          Terence Young
2  From Russia with Love           Terence Young
3  Goldfinger                      Guy Hamilton
4  Thunderball                     Terence Young
5  Casino Royale                   Ken Hughes
6  You Only Live Twice             Lewis Gilbert
7  On Her Majesty's Secret Service Peter R. Hunt
8  Diamonds Are Forever            Guy Hamilton
9  Live and Let Die                Guy Hamilton
10 The Man with the Golden Gun     Guy Hamilton
11 The Spy Who Loved Me            Lewis Gilbert
12 Moonraker                       Lewis Gilbert
13 For Your Eyes Only              John Glen
14 Never Say Never Again           Irvin Kershner
15 Octopussy                       John Glen
16 A View to a Kill                John Glen
17 The Living Daylights            John Glen
18 Licence to Kill                 John Glen
19 GoldenEye                       Martin Campbell
20 Tomorrow Never Dies             Roger Spottiswoode
21 The World Is Not Enough         Michael Apted
22 Die Another Day                 Lee Tamahori
23 Casino Royale                   Martin Campbell
24 Quantum of Solace               Marc Forster
25 Skyfall                         Sam Mendes
26 Spectre                         Sam Mendes

In [ ]:
# Repetimos la tarea anterior, pero ejecutando el comando utilizando la sintaxis simplificada
# Para simplificar la lectura e interpretación, dejo espacios y utilizo varias líneas. Esto es algo totalmente opcional

df_james_bond %>% select(
  Film        # columna 1 a ser seleccionada
  ,Director   # columna 2 a ser seleccionada
)

   Film                            Director
1  Dr. No                          Terence Young
2  From Russia with Love           Terence Young
3  Goldfinger                      Guy Hamilton
4  Thunderball                     Terence Young
5  Casino Royale                   Ken Hughes
6  You Only Live Twice             Lewis Gilbert
7  On Her Majesty's Secret Service Peter R. Hunt
8  Diamonds Are Forever            Guy Hamilton
9  Live and Let Die                Guy Hamilton
10 The Man with the Golden Gun     Guy Hamilton
11 The Spy Who Loved Me            Lewis Gilbert
12 Moonraker                       Lewis Gilbert
13 For Your Eyes Only              John Glen
14 Never Say Never Again           Irvin Kershner
15 Octopussy                       John Glen
16 A View to a Kill                John Glen
17 The Living Daylights            John Glen
18 Licence to Kill                 John Glen
19 GoldenEye                       Martin Campbell
20 Tomorrow Never Dies             Roger Spottiswoode
21 The World Is Not Enough         Michael Apted
22 Die Another Day                 Lee Tamahori
23 Casino Royale                   Martin Campbell
24 Quantum of Solace               Marc Forster
25 Skyfall                         Sam Mendes
26 Spectre                         Sam Mendes

In [ ]:
# Adicionalmente, al seleccionar columnas podremos (de forma opcional) renombrar las variables
df_james_bond %>% select(
  james_bond_film = Film                    # seleccionamos una primer columna y la renombramos
  ,film_director = Director                 # seleccionamos una segunda columna y la renombramos
  ,film_budget = Budget                     # seleccionamos una tercer columna y la renombramos
  ,bond_actor_salary = `Bond Actor Salary`  # en este caso, al renombrar la variable sin espacios, nos libraremos de las comillas
)

   james_bond_film                 film_director      film_budget
1  Dr. No                          Terence Young        7.0
2  From Russia with Love           Terence Young       12.6
3  Goldfinger                      Guy Hamilton        18.6
4  Thunderball                     Terence Young       41.9
5  Casino Royale                   Ken Hughes          85.0
6  You Only Live Twice             Lewis Gilbert       59.9
7  On Her Majesty's Secret Service Peter R. Hunt       37.3
8  Diamonds Are Forever            Guy Hamilton        34.7
9  Live and Let Die                Guy Hamilton        30.8
10 The Man with the Golden Gun     Guy Hamilton        27.7
11 The Spy Who Loved Me            Lewis Gilbert       45.1
12 Moonraker                       Lewis Gilbert       91.5
13 For Your Eyes Only              John Glen           60.2
14 Never Say Never Again           Irvin Kershner      86.0
15 Octopussy                       John Glen           53.9
16 A View to a Kill                John Glen           54.5
17 The Living Daylights            John Glen           68.8
18 Licence to Kill                 John Glen           56.7
19 GoldenEye                       Martin Campbell     76.9
20 Tomorrow Never Dies             Roger Spottiswoode 133.9
21 The World Is Not Enough         Michael Apted      158.3
22 Die Another Day                 Lee Tamahori       154.2
23 Casino Royale                   Martin Campbell    145.3
24 Quantum of Solace               Marc Forster       181.4
25 Skyfall                         Sam Mendes         170.2
26 Spectre                         Sam Mendes         206.3
   bond_actor_salary
1   0.6
2   1.6
3   3.2
4   4.7
5    NA
6   4.4
7   0.6
8   5.8
9    NA
10   NA
11   NA
12   NA
13   NA
14   NA
15  7.8
16  9.1
17  5.2
18  7.9
19  5.1
20 10.0
21 13.5
22 17.9
23  3.3
24  8.1
25 14.5
26   NA

In [ ]:
# Podemos negar (-) columnas para evitarlas
df_james_bond %>% select(
  -Director
  ,-Budget
)
# En este caso, hemos seleccionado TODAS las variables disponibles en el data frame, salvo dos específicas que hemos negativizado

   Film                            Year Actor          Box Office
1  Dr. No                          1962 Sean Connery   448.8
2  From Russia with Love           1963 Sean Connery   543.8
3  Goldfinger                      1964 Sean Connery   820.4
4  Thunderball                     1965 Sean Connery   848.1
5  Casino Royale                   1967 David Niven    315.0
6  You Only Live Twice             1967 Sean Connery   514.2
7  On Her Majesty's Secret Service 1969 George Lazenby 291.5
8  Diamonds Are Forever            1971 Sean Connery   442.5
9  Live and Let Die                1973 Roger Moore    460.3
10 The Man with the Golden Gun     1974 Roger Moore    334.0
11 The Spy Who Loved Me            1977 Roger Moore    533.0
12 Moonraker                       1979 Roger Moore    535.0
13 For Your Eyes Only              1981 Roger Moore    449.4
14 Never Say Never Again           1983 Sean Connery   380.0
15 Octopussy                       1983 Roger Moore    373.8
16 A View to a Kill                1985 Roger Moore    275.2
17 The Living Daylights            1987 Timothy Dalton 313.5
18 Licence to Kill                 1989 Timothy Dalton 250.9
19 GoldenEye                       1995 Pierce Brosnan 518.5
20 Tomorrow Never Dies             1997 Pierce Brosnan 463.2
21 The World Is Not Enough         1999 Pierce Brosnan 439.5
22 Die Another Day                 2002 Pierce Brosnan 465.4
23 Casino Royale                   2006 Daniel Craig   581.5
24 Quantum of Solace               2008 Daniel Craig   514.2
25 Skyfall                         2012 Daniel Craig   943.5
26 Spectre                         2015 Daniel Craig   726.7
   Bond Actor Salary
1   0.6
2   1.6
3   3.2
4   4.7
5    NA
6   4.4
7   0.6
8   5.8
9    NA
10   NA
11   NA
12   NA
13   NA
14   NA
15  7.8
16  9.1
17  5.2
18  7.9
19  5.1
20 10.0
21 13.5
22 17.9
23  3.3
24  8.1
25 14.5
26   NA

In [ ]:
# Al seleccionar una o más variables, podemos forzar combinaciones únicas utilizando la función unique()
df_james_bond %>% select(
  Director                      # seleccionamos variable Director
) %>% unique()                  # forzamos valores únicos

   Director
1  Terence Young
2  Guy Hamilton
3  Ken Hughes
4  Lewis Gilbert
5  Peter R. Hunt
6  John Glen
7  Irvin Kershner
8  Martin Campbell
9  Roger Spottiswoode
10 Michael Apted
11 Lee Tamahori
12 Marc Forster
13 Sam Mendes

### Filtrando filas
---
A continuación, aprenderemos una forma sencilla de filtrar observaciones en función de criterios lógicos utilizando la función *filter()*


```
dplyr::filter(object, criteria ...)
```

In [ ]:
# Filtramos el df con películas de James Bond
df_james_bond %>% filter(Year>2000) # únicamente películas lanzadas a partir del año 2000

  Film              Year Actor          Director        Box Office Budget
1 Die Another Day   2002 Pierce Brosnan Lee Tamahori    465.4      154.2
2 Casino Royale     2006 Daniel Craig   Martin Campbell 581.5      145.3
3 Quantum of Solace 2008 Daniel Craig   Marc Forster    514.2      181.4
4 Skyfall           2012 Daniel Craig   Sam Mendes      943.5      170.2
5 Spectre           2015 Daniel Craig   Sam Mendes      726.7      206.3
  Bond Actor Salary
1 17.9
2  3.3
3  8.1
4 14.5
5   NA

In [ ]:
# Podemos combinar múltiples funciones de manipulación utilizando el "pipe operator"
## el orden de las funciones es fundamental, ya que estamos haciendo operaciones de a pasos y transmitiendo el resultado a la siguiente función
df_james_bond %>% select(Film,Year) %>% filter(Year>2000) # si hubiéramos omitido seleccionar la columna "year", no podríamos luego filtrar por ese campo

  Film              Year
1 Die Another Day   2002
2 Casino Royale     2006
3 Quantum of Solace 2008
4 Skyfall           2012
5 Spectre           2015

In [ ]:
# El siguiente ejericio generá eror al ejecutarlo
## intentaremos filtrar por año, pero no hemos seleccionado año en el paso anterior al reducir el data frame
df_james_bond %>% select(Film,Actor) %>% filter(Year>2000) # esto generará error, ya que no podemos filtrar por un campo que no existe

In [ ]:
# En el siguiente ejercicio, filtramos utilizando dos coindicines
## agregar una nueva condición como parámetro, es exactamente lo mismo que agregarla utilizando el operador "&" (AND)
df_james_bond %>% filter(
  Year>2000
  ,Actor == 'Daniel Craig'
)

  Film              Year Actor        Director        Box Office Budget
1 Casino Royale     2006 Daniel Craig Martin Campbell 581.5      145.3
2 Quantum of Solace 2008 Daniel Craig Marc Forster    514.2      181.4
3 Skyfall           2012 Daniel Craig Sam Mendes      943.5      170.2
4 Spectre           2015 Daniel Craig Sam Mendes      726.7      206.3
  Bond Actor Salary
1  3.3
2  8.1
3 14.5
4   NA

In [ ]:
# Comprobamos que obtenemos el resultado utilizando una única condición compuesta por dos elementos
df_james_bond %>% filter(
  Year>2000 & Actor == 'Daniel Craig' # filtramos por películas que hayan sido lanzadas a partir de 2000 y cuyo actor sea Daniel Craig
)

  Film              Year Actor        Director        Box Office Budget
1 Casino Royale     2006 Daniel Craig Martin Campbell 581.5      145.3
2 Quantum of Solace 2008 Daniel Craig Marc Forster    514.2      181.4
3 Skyfall           2012 Daniel Craig Sam Mendes      943.5      170.2
4 Spectre           2015 Daniel Craig Sam Mendes      726.7      206.3
  Bond Actor Salary
1  3.3
2  8.1
3 14.5
4   NA

In [ ]:
# Distinto sería si ambos elementos en la condición fueran de tipo OR ("|")
df_james_bond %>% filter(
  Year>2000 | Actor == 'Daniel Craig' # filtramos por películas que hayan sido lanzadas a partir de 2000 o cuyo actor sea Daniel Craig
)

  Film              Year Actor          Director        Box Office Budget
1 Die Another Day   2002 Pierce Brosnan Lee Tamahori    465.4      154.2
2 Casino Royale     2006 Daniel Craig   Martin Campbell 581.5      145.3
3 Quantum of Solace 2008 Daniel Craig   Marc Forster    514.2      181.4
4 Skyfall           2012 Daniel Craig   Sam Mendes      943.5      170.2
5 Spectre           2015 Daniel Craig   Sam Mendes      726.7      206.3
  Bond Actor Salary
1 17.9
2  3.3
3  8.1
4 14.5
5   NA

In [ ]:
# Una forma cómoda de filtrar una variable categórica por múltiples valores es utilizando un vector
## de esta forma, evitamos tener que crear una condición OR que puede llegar a ser muy larga
## para esto, utilizamos el operador "%in%" + un vector que definimos
df_james_bond %>% filter(
  Actor %in% c('Daniel Craig','Pierce Brosnan','Sean Connery') # filtramos por películas cuyos actores sean alguno de los especificados
)

   Film                    Year Actor          Director           Box Office
1  Dr. No                  1962 Sean Connery   Terence Young      448.8
2  From Russia with Love   1963 Sean Connery   Terence Young      543.8
3  Goldfinger              1964 Sean Connery   Guy Hamilton       820.4
4  Thunderball             1965 Sean Connery   Terence Young      848.1
5  You Only Live Twice     1967 Sean Connery   Lewis Gilbert      514.2
6  Diamonds Are Forever    1971 Sean Connery   Guy Hamilton       442.5
7  Never Say Never Again   1983 Sean Connery   Irvin Kershner     380.0
8  GoldenEye               1995 Pierce Brosnan Martin Campbell    518.5
9  Tomorrow Never Dies     1997 Pierce Brosnan Roger Spottiswoode 463.2
10 The World Is Not Enough 1999 Pierce Brosnan Michael Apted      439.5
11 Die Another Day         2002 Pierce Brosnan Lee Tamahori       465.4
12 Casino Royale           2006 Daniel Craig   Martin Campbell    581.5
13 Quantum of Solace       2008 Daniel Craig   Marc Forster       514.2
14 Skyfall                 2012 Daniel Craig   Sam Mendes         943.5
15 Spectre                 2015 Daniel Craig   Sam Mendes         726.7
   Budget Bond Actor Salary
1    7.0   0.6
2   12.6   1.6
3   18.6   3.2
4   41.9   4.7
5   59.9   4.4
6   34.7   5.8
7   86.0    NA
8   76.9   5.1
9  133.9  10.0
10 158.3  13.5
11 154.2  17.9
12 145.3   3.3
13 181.4   8.1
14 170.2  14.5
15 206.3    NA

In [ ]:
# Podemos negar condiciones utilizando el operador "!"" (negación)
df_james_bond %>% filter(
  !Actor %in% c('Daniel Craig','Pierce Brosnan','Sean Connery') # filtramos por películas cuyos actores NO sean los especificados
)

   Film                            Year Actor          Director      Box Office
1  Casino Royale                   1967 David Niven    Ken Hughes    315.0
2  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt 291.5
3  Live and Let Die                1973 Roger Moore    Guy Hamilton  460.3
4  The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton  334.0
5  The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert 533.0
6  Moonraker                       1979 Roger Moore    Lewis Gilbert 535.0
7  For Your Eyes Only              1981 Roger Moore    John Glen     449.4
8  Octopussy                       1983 Roger Moore    John Glen     373.8
9  A View to a Kill                1985 Roger Moore    John Glen     275.2
10 The Living Daylights            1987 Timothy Dalton John Glen     313.5
11 Licence to Kill                 1989 Timothy Dalton John Glen     250.9
   Budget Bond Actor Salary
1  85.0    NA
2  37.3   0.6
3  30.8    NA
4  27.7    NA
5  45.1    NA
6  91.5    NA
7  60.2    NA
8  53.9   7.8
9  54.5   9.1
10 68.8   5.2
11 56.7   7.9

# ORDENAR FILAS Y CREAR NUEVAS COLUMNAS

In [ ]:
df_james_bond = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
glimpse(df_james_bond)

Rows: 26
Columns: 7
$ Film                <chr> "Dr. No", "From Russia with Love", "Goldfinger", …
$ Year                <int> 1962, 1963, 1964, 1965, 1967, 1967, 1969, 1971, 1…
$ Actor               <chr> "Sean Connery", "Sean Connery", "Sean Connery", "…
$ Director            <chr> "Terence Young", "Terence Young", "Guy Hamilton",…
$ `Box Office`        <dbl> 448.8, 543.8, 820.4, 848.1, 315.0, 514.2, 291.5, …
$ Budget              <dbl> 7.0, 12.6, 18.6, 41.9, 85.0, 59.9, 37.3, 34.7, 30…
$ `Bond Actor Salary` <dbl> 0.6, 1.6, 3.2, 4.7, NA, 4.4, 0.6, 5.8, NA, NA, NA…

### ORDENAR FILAS
---
La función *arrange()* nos permite ordenar un *data frame* en función de una o más variables

```
dplyr::arrange(object, columns ...)
```

In [ ]:
# Ordenamos el data frame según variable alfanumérica (texto)
df_james_bond %>% arrange(Actor) # por defecto, el criterio es ascendente. En caso de ser variable texto, será en orden del abecedario

   Film                            Year Actor          Director
1  Casino Royale                   2006 Daniel Craig   Martin Campbell
2  Quantum of Solace               2008 Daniel Craig   Marc Forster
3  Skyfall                         2012 Daniel Craig   Sam Mendes
4  Spectre                         2015 Daniel Craig   Sam Mendes
5  Casino Royale                   1967 David Niven    Ken Hughes
6  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
7  GoldenEye                       1995 Pierce Brosnan Martin Campbell
8  Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
9  The World Is Not Enough         1999 Pierce Brosnan Michael Apted
10 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
11 Live and Let Die                1973 Roger Moore    Guy Hamilton
12 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
13 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
14 Moonraker                       1979 Roger Moore    Lewis Gilbert
15 For Your Eyes Only              1981 Roger Moore    John Glen
16 Octopussy                       1983 Roger Moore    John Glen
17 A View to a Kill                1985 Roger Moore    John Glen
18 Dr. No                          1962 Sean Connery   Terence Young
19 From Russia with Love           1963 Sean Connery   Terence Young
20 Goldfinger                      1964 Sean Connery   Guy Hamilton
21 Thunderball                     1965 Sean Connery   Terence Young
22 You Only Live Twice             1967 Sean Connery   Lewis Gilbert
23 Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
24 Never Say Never Again           1983 Sean Connery   Irvin Kershner
25 The Living Daylights            1987 Timothy Dalton John Glen
26 Licence to Kill                 1989 Timothy Dalton John Glen
   Box Office Budget Bond Actor Salary
1  581.5      145.3   3.3
2  514.2      181.4   8.1
3  943.5      170.2  14.5
4  726.7      206.3    NA
5  315.0       85.0    NA
6  291.5       37.3   0.6
7  518.5       76.9   5.1
8  463.2      133.9  10.0
9  439.5      158.3  13.5
10 465.4      154.2  17.9
11 460.3       30.8    NA
12 334.0       27.7    NA
13 533.0       45.1    NA
14 535.0       91.5    NA
15 449.4       60.2    NA
16 373.8       53.9   7.8
17 275.2       54.5   9.1
18 448.8        7.0   0.6
19 543.8       12.6   1.6
20 820.4       18.6   3.2
21 848.1       41.9   4.7
22 514.2       59.9   4.4
23 442.5       34.7   5.8
24 380.0       86.0    NA
25 313.5       68.8   5.2
26 250.9       56.7   7.9

In [ ]:
# Ordenamos por dos variables numéricas, siempre en criterio ascendente
df_james_bond %>% arrange(Year,Budget)

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  From Russia with Love           1963 Sean Connery   Terence Young
3  Goldfinger                      1964 Sean Connery   Guy Hamilton
4  Thunderball                     1965 Sean Connery   Terence Young
5  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
6  Casino Royale                   1967 David Niven    Ken Hughes
7  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
8  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
9  Live and Let Die                1973 Roger Moore    Guy Hamilton
10 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
11 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
12 Moonraker                       1979 Roger Moore    Lewis Gilbert
13 For Your Eyes Only              1981 Roger Moore    John Glen
14 Octopussy                       1983 Roger Moore    John Glen
15 Never Say Never Again           1983 Sean Connery   Irvin Kershner
16 A View to a Kill                1985 Roger Moore    John Glen
17 The Living Daylights            1987 Timothy Dalton John Glen
18 Licence to Kill                 1989 Timothy Dalton John Glen
19 GoldenEye                       1995 Pierce Brosnan Martin Campbell
20 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
21 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
22 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
23 Casino Royale                   2006 Daniel Craig   Martin Campbell
24 Quantum of Solace               2008 Daniel Craig   Marc Forster
25 Skyfall                         2012 Daniel Craig   Sam Mendes
26 Spectre                         2015 Daniel Craig   Sam Mendes
   Box Office Budget Bond Actor Salary
1  448.8        7.0   0.6
2  543.8       12.6   1.6
3  820.4       18.6   3.2
4  848.1       41.9   4.7
5  514.2       59.9   4.4
6  315.0       85.0    NA
7  291.5       37.3   0.6
8  442.5       34.7   5.8
9  460.3       30.8    NA
10 334.0       27.7    NA
11 533.0       45.1    NA
12 535.0       91.5    NA
13 449.4       60.2    NA
14 373.8       53.9   7.8
15 380.0       86.0    NA
16 275.2       54.5   9.1
17 313.5       68.8   5.2
18 250.9       56.7   7.9
19 518.5       76.9   5.1
20 463.2      133.9  10.0
21 439.5      158.3  13.5
22 465.4      154.2  17.9
23 581.5      145.3   3.3
24 514.2      181.4   8.1
25 943.5      170.2  14.5
26 726.7      206.3    NA

In [ ]:
# Para cambiar el criterio de orden a descendente, debemos utilizar la función desc() en el parámetro de la función arrange()
df_james_bond %>% arrange(desc(`Bond Actor Salary`))

   Film                            Year Actor          Director
1  Die Another Day                 2002 Pierce Brosnan Lee Tamahori
2  Skyfall                         2012 Daniel Craig   Sam Mendes
3  The World Is Not Enough         1999 Pierce Brosnan Michael Apted
4  Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
5  A View to a Kill                1985 Roger Moore    John Glen
6  Quantum of Solace               2008 Daniel Craig   Marc Forster
7  Licence to Kill                 1989 Timothy Dalton John Glen
8  Octopussy                       1983 Roger Moore    John Glen
9  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
10 The Living Daylights            1987 Timothy Dalton John Glen
11 GoldenEye                       1995 Pierce Brosnan Martin Campbell
12 Thunderball                     1965 Sean Connery   Terence Young
13 You Only Live Twice             1967 Sean Connery   Lewis Gilbert
14 Casino Royale                   2006 Daniel Craig   Martin Campbell
15 Goldfinger                      1964 Sean Connery   Guy Hamilton
16 From Russia with Love           1963 Sean Connery   Terence Young
17 Dr. No                          1962 Sean Connery   Terence Young
18 On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
19 Casino Royale                   1967 David Niven    Ken Hughes
20 Live and Let Die                1973 Roger Moore    Guy Hamilton
21 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
22 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
23 Moonraker                       1979 Roger Moore    Lewis Gilbert
24 For Your Eyes Only              1981 Roger Moore    John Glen
25 Never Say Never Again           1983 Sean Connery   Irvin Kershner
26 Spectre                         2015 Daniel Craig   Sam Mendes
   Box Office Budget Bond Actor Salary
1  465.4      154.2  17.9
2  943.5      170.2  14.5
3  439.5      158.3  13.5
4  463.2      133.9  10.0
5  275.2       54.5   9.1
6  514.2      181.4   8.1
7  250.9       56.7   7.9
8  373.8       53.9   7.8
9  442.5       34.7   5.8
10 313.5       68.8   5.2
11 518.5       76.9   5.1
12 848.1       41.9   4.7
13 514.2       59.9   4.4
14 581.5      145.3   3.3
15 820.4       18.6   3.2
16 543.8       12.6   1.6
17 448.8        7.0   0.6
18 291.5       37.3   0.6
19 315.0       85.0    NA
20 460.3       30.8    NA
21 334.0       27.7    NA
22 533.0       45.1    NA
23 535.0       91.5    NA
24 449.4       60.2    NA
25 380.0       86.0    NA
26 726.7      206.3    NA

### CREAR NUEVAS COLUMNAS
---
La función *mutate()* permite crear columnas nuevas en un *data frame* de forma sencilla

```
dplyr::mutate(object, new columns...)
```

In [ ]:
# Creamos una nueva columna como cosciente entre dos variables existentes
df_james_bond %>% mutate(
  profit = `Box Office`/Budget    # nombramos nuestra nueva columna "profit"
) %>% arrange(desc(profit))       # ordenamos el resultado, según la nueva columna definida

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  Goldfinger                      1964 Sean Connery   Guy Hamilton
3  From Russia with Love           1963 Sean Connery   Terence Young
4  Thunderball                     1965 Sean Connery   Terence Young
5  Live and Let Die                1973 Roger Moore    Guy Hamilton
6  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
7  The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
8  The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
9  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
10 On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
11 For Your Eyes Only              1981 Roger Moore    John Glen
12 Octopussy                       1983 Roger Moore    John Glen
13 GoldenEye                       1995 Pierce Brosnan Martin Campbell
14 Moonraker                       1979 Roger Moore    Lewis Gilbert
15 Skyfall                         2012 Daniel Craig   Sam Mendes
16 A View to a Kill                1985 Roger Moore    John Glen
17 The Living Daylights            1987 Timothy Dalton John Glen
18 Licence to Kill                 1989 Timothy Dalton John Glen
19 Never Say Never Again           1983 Sean Connery   Irvin Kershner
20 Casino Royale                   2006 Daniel Craig   Martin Campbell
21 Casino Royale                   1967 David Niven    Ken Hughes
22 Spectre                         2015 Daniel Craig   Sam Mendes
23 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
24 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
25 Quantum of Solace               2008 Daniel Craig   Marc Forster
26 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
   Box Office Budget Bond Actor Salary profit
1  448.8        7.0   0.6              64.114286
2  820.4       18.6   3.2              44.107527
3  543.8       12.6   1.6              43.158730
4  848.1       41.9   4.7              20.241050
5  460.3       30.8    NA              14.944805
6  442.5       34.7   5.8              12.752161
7  334.0       27.7    NA              12.057762
8  533.0       45.1    NA              11.818182
9  514.2       59.9   4.4               8.584307
10 291.5       37.3   0.6               7.815013
11 449.4       60.2    NA               7.465116
12 373.8       53.9   7.8               6.935065
13 518.5       76.9   5.1               6.742523
14 535.0       91.5    NA               5.846995
15 943.5      170.2  14.5               5.543478
16 275.2       54.5   9.1               5.049541
17 313.5       68.8   5.2               4.556686
18 250.9       56.7   7.9               4.425044
19 380.0       86.0    NA               4.418605
20 581.5      145.3   3.3               4.002065
21 315.0       85.0    NA               3.705882
22 726.7      206.3    NA               3.522540
23 463.2      133.9  10.0               3.459298
24 465.4      154.2  17.9               3.018158
25 514.2      181.4   8.1               2.834620
26 439.5      158.3  13.5               2.776374

In [ ]:
# Repetimos el ejercicio anterior, en este caso utilizamos la función round() para redondear el resultado y forzar decimales
df_james_bond %>% mutate(
  profit = round(`Box Office`/Budget,2)   # el segundo parámetro de la función round() establece el número de decimales
  ,profit_EUR = round(profit / 1.2)       # por defecto, round() fuerza a números enteros
) %>% arrange(desc(profit_EUR))

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  Goldfinger                      1964 Sean Connery   Guy Hamilton
3  From Russia with Love           1963 Sean Connery   Terence Young
4  Thunderball                     1965 Sean Connery   Terence Young
5  Live and Let Die                1973 Roger Moore    Guy Hamilton
6  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
7  The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
8  The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
9  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
10 On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
11 For Your Eyes Only              1981 Roger Moore    John Glen
12 Octopussy                       1983 Roger Moore    John Glen
13 GoldenEye                       1995 Pierce Brosnan Martin Campbell
14 Moonraker                       1979 Roger Moore    Lewis Gilbert
15 Skyfall                         2012 Daniel Craig   Sam Mendes
16 Never Say Never Again           1983 Sean Connery   Irvin Kershner
17 A View to a Kill                1985 Roger Moore    John Glen
18 The Living Daylights            1987 Timothy Dalton John Glen
19 Licence to Kill                 1989 Timothy Dalton John Glen
20 Casino Royale                   1967 David Niven    Ken Hughes
21 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
22 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
23 Casino Royale                   2006 Daniel Craig   Martin Campbell
24 Spectre                         2015 Daniel Craig   Sam Mendes
25 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
26 Quantum of Solace               2008 Daniel Craig   Marc Forster
   Box Office Budget Bond Actor Salary profit profit_EUR
1  448.8        7.0   0.6              64.11  53
2  820.4       18.6   3.2              44.11  37
3  543.8       12.6   1.6              43.16  36
4  848.1       41.9   4.7              20.24  17
5  460.3       30.8    NA              14.94  12
6  442.5       34.7   5.8              12.75  11
7  334.0       27.7    NA              12.06  10
8  533.0       45.1    NA              11.82  10
9  514.2       59.9   4.4               8.58   7
10 291.5       37.3   0.6               7.82   7
11 449.4       60.2    NA               7.47   6
12 373.8       53.9   7.8               6.94   6
13 518.5       76.9   5.1               6.74   6
14 535.0       91.5    NA               5.85   5
15 943.5      170.2  14.5               5.54   5
16 380.0       86.0    NA               4.42   4
17 275.2       54.5   9.1               5.05   4
18 313.5       68.8   5.2               4.56   4
19 250.9       56.7   7.9               4.43   4
20 315.0       85.0    NA               3.71   3
21 463.2      133.9  10.0               3.46   3
22 465.4      154.2  17.9               3.02   3
23 581.5      145.3   3.3               4.00   3
24 726.7      206.3    NA               3.52   3
25 439.5      158.3  13.5               2.78   2
26 514.2      181.4   8.1               2.83   2

#### Nuevas variables a partir de pruebas lógicas

Con frecuencia, al trabajar con datos, buscamos crear nuevas variables asignando valores por fila partiendo de pruebas lógicas. En estos casos, nos apartamos de asignar valores simplemente utilizando operaciones matemáticas entre otras variables existentes. 

Existen dos métodos en R particularmente populares para esta tarea:

*   `if_else()`
*   `case_when()`


```
if_else(prueba lógica, valor si verdadero, valor si falso)
```

```
case_when(
   prueba 1 ~ valor si se cumple
  ,prueba 2 ~ valor si se cumple
  ,prueba 3 ~ valor si se cumple
  ...
)
```

In [ ]:
# Al definir una variable nueva utilizando función mutate(), combinaremos con función if_else() para crear una prueba lógica
## creamos una nueva variable con una clasificación de películas TOP MOVIE vs. NOT IN THE TOP
df_james_bond %>% mutate(
  film_segment = if_else(
    Actor == 'Sean Connery' | Budget> 100,'TOP MOVIE','NOT IN THE TOP'
  )
)

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  From Russia with Love           1963 Sean Connery   Terence Young
3  Goldfinger                      1964 Sean Connery   Guy Hamilton
4  Thunderball                     1965 Sean Connery   Terence Young
5  Casino Royale                   1967 David Niven    Ken Hughes
6  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
7  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
8  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
9  Live and Let Die                1973 Roger Moore    Guy Hamilton
10 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
11 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
12 Moonraker                       1979 Roger Moore    Lewis Gilbert
13 For Your Eyes Only              1981 Roger Moore    John Glen
14 Never Say Never Again           1983 Sean Connery   Irvin Kershner
15 Octopussy                       1983 Roger Moore    John Glen
16 A View to a Kill                1985 Roger Moore    John Glen
17 The Living Daylights            1987 Timothy Dalton John Glen
18 Licence to Kill                 1989 Timothy Dalton John Glen
19 GoldenEye                       1995 Pierce Brosnan Martin Campbell
20 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
21 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
22 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
23 Casino Royale                   2006 Daniel Craig   Martin Campbell
24 Quantum of Solace               2008 Daniel Craig   Marc Forster
25 Skyfall                         2012 Daniel Craig   Sam Mendes
26 Spectre                         2015 Daniel Craig   Sam Mendes
   Box Office Budget Bond Actor Salary film_segment
1  448.8        7.0   0.6              TOP MOVIE
2  543.8       12.6   1.6              TOP MOVIE
3  820.4       18.6   3.2              TOP MOVIE
4  848.1       41.9   4.7              TOP MOVIE
5  315.0       85.0    NA              NOT IN THE TOP
6  514.2       59.9   4.4              TOP MOVIE
7  291.5       37.3   0.6              NOT IN THE TOP
8  442.5       34.7   5.8              TOP MOVIE
9  460.3       30.8    NA              NOT IN THE TOP
10 334.0       27.7    NA              NOT IN THE TOP
11 533.0       45.1    NA              NOT IN THE TOP
12 535.0       91.5    NA              NOT IN THE TOP
13 449.4       60.2    NA              NOT IN THE TOP
14 380.0       86.0    NA              TOP MOVIE
15 373.8       53.9   7.8              NOT IN THE TOP
16 275.2       54.5   9.1              NOT IN THE TOP
17 313.5       68.8   5.2              NOT IN THE TOP
18 250.9       56.7   7.9              NOT IN THE TOP
19 518.5       76.9   5.1              NOT IN THE TOP
20 463.2      133.9  10.0              TOP MOVIE
21 439.5      158.3  13.5              TOP MOVIE
22 465.4      154.2  17.9              TOP MOVIE
23 581.5      145.3   3.3              TOP MOVIE
24 514.2      181.4   8.1              TOP MOVIE
25 943.5      170.2  14.5              TOP MOVIE
26 726.7      206.3    NA              TOP MOVIE

In [ ]:
# Como era de esperar, podemos anidar condiciones if_else() para crear pruebas complejas
## no obstante, en caso de necesitar prubas complejas, es aconsejable utilizar case_when()

df_james_bond %>% mutate(
  film_segment = if_else(
    Actor == 'Sean Connery' | Budget> 100
    ,'1st CLASS MOVIE'
    ,if_else(
      Actor == 'Roger Moore' | Budget> 100
      ,'2nd CLASS MOVIE'
      ,'NOT IN THE TOP'
    )
  )
)

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  From Russia with Love           1963 Sean Connery   Terence Young
3  Goldfinger                      1964 Sean Connery   Guy Hamilton
4  Thunderball                     1965 Sean Connery   Terence Young
5  Casino Royale                   1967 David Niven    Ken Hughes
6  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
7  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
8  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
9  Live and Let Die                1973 Roger Moore    Guy Hamilton
10 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
11 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
12 Moonraker                       1979 Roger Moore    Lewis Gilbert
13 For Your Eyes Only              1981 Roger Moore    John Glen
14 Never Say Never Again           1983 Sean Connery   Irvin Kershner
15 Octopussy                       1983 Roger Moore    John Glen
16 A View to a Kill                1985 Roger Moore    John Glen
17 The Living Daylights            1987 Timothy Dalton John Glen
18 Licence to Kill                 1989 Timothy Dalton John Glen
19 GoldenEye                       1995 Pierce Brosnan Martin Campbell
20 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
21 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
22 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
23 Casino Royale                   2006 Daniel Craig   Martin Campbell
24 Quantum of Solace               2008 Daniel Craig   Marc Forster
25 Skyfall                         2012 Daniel Craig   Sam Mendes
26 Spectre                         2015 Daniel Craig   Sam Mendes
   Box Office Budget Bond Actor Salary film_segment
1  448.8        7.0   0.6              1st CLASS MOVIE
2  543.8       12.6   1.6              1st CLASS MOVIE
3  820.4       18.6   3.2              1st CLASS MOVIE
4  848.1       41.9   4.7              1st CLASS MOVIE
5  315.0       85.0    NA              NOT IN THE TOP
6  514.2       59.9   4.4              1st CLASS MOVIE
7  291.5       37.3   0.6              NOT IN THE TOP
8  442.5       34.7   5.8              1st CLASS MOVIE
9  460.3       30.8    NA              2nd CLASS MOVIE
10 334.0       27.7    NA              2nd CLASS MOVIE
11 533.0       45.1    NA              2nd CLASS MOVIE
12 535.0       91.5    NA              2nd CLASS MOVIE
13 449.4       60.2    NA              2nd CLASS MOVIE
14 380.0       86.0    NA              1st CLASS MOVIE
15 373.8       53.9   7.8              2nd CLASS MOVIE
16 275.2       54.5   9.1              2nd CLASS MOVIE
17 313.5       68.8   5.2              NOT IN THE TOP
18 250.9       56.7   7.9              NOT IN THE TOP
19 518.5       76.9   5.1              NOT IN THE TOP
20 463.2      133.9  10.0              1st CLASS MOVIE
21 439.5      158.3  13.5              1st CLASS MOVIE
22 465.4      154.2  17.9              1st CLASS MOVIE
23 581.5      145.3   3.3              1st CLASS MOVIE
24 514.2      181.4   8.1              1st CLASS MOVIE
25 943.5      170.2  14.5              1st CLASS MOVIE
26 726.7      206.3    NA              1st CLASS MOVIE

In [ ]:
# La función case_when(), imitando mismo operador en lenguaje SQL, permite una sintaxis más límpia para crear condiciones complejas
## observar que las condiciones tienen un orden jerárquico y no necesitan ser mutuamente excluyentes
## en caso de que se cumpla una condición, el sistema no seguirá evaluando condiciones posteriores  

df_james_bond %>% mutate(
  film_segment = case_when(
    Actor == 'Sean Connery' | Budget> 100 ~ '1st CLASS MOVIE'     # condición 1
    ,Actor == 'Roger Moore' | Budget> 100 ~ '2st CLASS MOVIE'     # condición 2
    ,Actor == 'Daniel Craig' | Budget> 100 ~ '3rd CLASS MOVIE'    # condición 3
    ,TRUE == TRUE ~ 'NOT IN THE TOP'                              # (opcional) esta condición se cumple siempre (TRUE = TRUE), por tanto nos sirve como "en caso de que ninguna otra se cumpla"
  )
)

   Film                            Year Actor          Director
1  Dr. No                          1962 Sean Connery   Terence Young
2  From Russia with Love           1963 Sean Connery   Terence Young
3  Goldfinger                      1964 Sean Connery   Guy Hamilton
4  Thunderball                     1965 Sean Connery   Terence Young
5  Casino Royale                   1967 David Niven    Ken Hughes
6  You Only Live Twice             1967 Sean Connery   Lewis Gilbert
7  On Her Majesty's Secret Service 1969 George Lazenby Peter R. Hunt
8  Diamonds Are Forever            1971 Sean Connery   Guy Hamilton
9  Live and Let Die                1973 Roger Moore    Guy Hamilton
10 The Man with the Golden Gun     1974 Roger Moore    Guy Hamilton
11 The Spy Who Loved Me            1977 Roger Moore    Lewis Gilbert
12 Moonraker                       1979 Roger Moore    Lewis Gilbert
13 For Your Eyes Only              1981 Roger Moore    John Glen
14 Never Say Never Again           1983 Sean Connery   Irvin Kershner
15 Octopussy                       1983 Roger Moore    John Glen
16 A View to a Kill                1985 Roger Moore    John Glen
17 The Living Daylights            1987 Timothy Dalton John Glen
18 Licence to Kill                 1989 Timothy Dalton John Glen
19 GoldenEye                       1995 Pierce Brosnan Martin Campbell
20 Tomorrow Never Dies             1997 Pierce Brosnan Roger Spottiswoode
21 The World Is Not Enough         1999 Pierce Brosnan Michael Apted
22 Die Another Day                 2002 Pierce Brosnan Lee Tamahori
23 Casino Royale                   2006 Daniel Craig   Martin Campbell
24 Quantum of Solace               2008 Daniel Craig   Marc Forster
25 Skyfall                         2012 Daniel Craig   Sam Mendes
26 Spectre                         2015 Daniel Craig   Sam Mendes
   Box Office Budget Bond Actor Salary film_segment
1  448.8        7.0   0.6              1st CLASS MOVIE
2  543.8       12.6   1.6              1st CLASS MOVIE
3  820.4       18.6   3.2              1st CLASS MOVIE
4  848.1       41.9   4.7              1st CLASS MOVIE
5  315.0       85.0    NA              NOT IN THE TOP
6  514.2       59.9   4.4              1st CLASS MOVIE
7  291.5       37.3   0.6              NOT IN THE TOP
8  442.5       34.7   5.8              1st CLASS MOVIE
9  460.3       30.8    NA              2st CLASS MOVIE
10 334.0       27.7    NA              2st CLASS MOVIE
11 533.0       45.1    NA              2st CLASS MOVIE
12 535.0       91.5    NA              2st CLASS MOVIE
13 449.4       60.2    NA              2st CLASS MOVIE
14 380.0       86.0    NA              1st CLASS MOVIE
15 373.8       53.9   7.8              2st CLASS MOVIE
16 275.2       54.5   9.1              2st CLASS MOVIE
17 313.5       68.8   5.2              NOT IN THE TOP
18 250.9       56.7   7.9              NOT IN THE TOP
19 518.5       76.9   5.1              NOT IN THE TOP
20 463.2      133.9  10.0              1st CLASS MOVIE
21 439.5      158.3  13.5              1st CLASS MOVIE
22 465.4      154.2  17.9              1st CLASS MOVIE
23 581.5      145.3   3.3              1st CLASS MOVIE
24 514.2      181.4   8.1              1st CLASS MOVIE
25 943.5      170.2  14.5              1st CLASS MOVIE
26 726.7      206.3    NA              1st CLASS MOVIE

# AGREGACIONES
Una agregación es una compilación de datos en un *data frame*, donde alteramos la unidad de observación original y llevando la información a un nivel superior de abstracción. Al realizar una agregación, siempre utilizaremos una función de agregación específica para determinar el tipo de operación.

#### Funciones básicas de agregación

| Function 	| Description        	|
|----------	|--------------------	|
| sum()    	| Sum                	|
| mean()   	| Mean               	|
| median() 	| Median             	|
| sd()     	| Standard Deviation 	|
| min()    	| Minimum            	|
| max()    	| Maximum            	|
| n()      	| Count              	|

In [ ]:
# Importamos un df
df_james_bond = data.table::fread("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")
glimpse(df_james_bond)

Rows: 26
Columns: 7
$ Film                <chr> "Dr. No", "From Russia with Love", "Goldfinger", …
$ Year                <int> 1962, 1963, 1964, 1965, 1967, 1967, 1969, 1971, 1…
$ Actor               <chr> "Sean Connery", "Sean Connery", "Sean Connery", "…
$ Director            <chr> "Terence Young", "Terence Young", "Guy Hamilton",…
$ `Box Office`        <dbl> 448.8, 543.8, 820.4, 848.1, 315.0, 514.2, 291.5, …
$ Budget              <dbl> 7.0, 12.6, 18.6, 41.9, 85.0, 59.9, 37.3, 34.7, 30…
$ `Bond Actor Salary` <dbl> 0.6, 1.6, 3.2, 4.7, NA, 4.4, 0.6, 5.8, NA, NA, NA…

### AGREGACIONES GLOBALES
---
La primera acción que emprenderemos será la de conseguir métricas que resuman el total de las observaciones disponibles en el *data frame*

```
dplyr::sumarise(object, aggregations...)
```

In [ ]:
# Creamos una primer agregación, donde obtendremos la suma total de la variable "box office"
## esto podría interpretarse como el total de ingresos generados por todas las películas de James Bond 
df_james_bond %>% summarise(
  total_box_office = sum(`Box Office`)    # definimos el nombre de la variable y utilizamos una función de agregación para establecer un criterio
)

  total_box_office
1 12781.9

In [ ]:
# Los valores nulos (NA) pueden causarnos problemas
## utilizaremos un parámetro adicional en la función de agregación, para especificar que no tome en cuanta las observaciones con valores NA
## en el ejemplo a continuación, sumaremos los salarios de los actores en todas las películas
df_james_bond %>% summarise(
  total_bond_salary_v1 = sum(`Bond Actor Salary`)                
  ,total_bond_salary_v2 = sum(`Bond Actor Salary`,na.rm=TRUE)    # el segunda parámetro "na.rm = TRUE" (NA remove) evita aquellas observaciones NA al realizar el cálculo
)
## la primer variable tendrá valor NA, ya que al menos una observación es NA

  total_box_office_v1 total_box_office_v2
1 NA                  123.3

In [ ]:
# A continuación, utilizaremos distintas funciones de agregación para jugar con los datos disponibles en el dataset
df_james_bond %>% summarise(
  avg_box_office = mean(`Box Office`)
  ,avg_budget = mean(Budget)
  ,avg_bond_actor_salary = mean(`Bond Actor Salary`,na.rm = TRUE)
)

  avg_box_office avg_budget avg_bond_actor_salary
1 491.6115       80.71923   6.85

### AGREGACIONES AGRUPADAS
---
Al realizar agregaciones, muchas veces no buscamos datos globales (al total del data frame), sino que buscamos métricas específicas para observaciones agrupadas según variables categóricas. Para ello, necesitaremos especificar un criterio de agrupación utilizando la función *group_by()*

```
group_by(object, columns...)
```

In [ ]:
# En el ejercicio a continuación, buscaremos obtener métricas según Director de la película
## nota: la unidad de observación original en el data frame es "película" (tenemos una película por fila)
## ahora lo queremos abstreaer a un nivel superior: director (existen varias películas por director)

df_james_bond %>% group_by(
  Director
) %>% summarise(
  avg_box_office = mean(`Box Office`)
  ,median_budget = median(Budget)
  ,avg_bond_actor_salary = mean(`Bond Actor Salary`,na.rm = TRUE)
) %>% arrange(desc(avg_bond_actor_salary))

`summarise()` ungrouping output (override with `.groups` argument)

   Director           avg_box_office median_budget avg_bond_actor_salary
1  Lee Tamahori       465.4000       154.20        17.9
2  Sam Mendes         835.1000       188.25        14.5
3  Michael Apted      439.5000       158.30        13.5
4  Roger Spottiswoode 463.2000       133.90        10.0
5  Marc Forster       514.2000       181.40         8.1
6  John Glen          332.5600        56.70         7.5
7  Guy Hamilton       514.3000        29.25         4.5
8  Lewis Gilbert      527.4000        59.90         4.4
9  Martin Campbell    550.0000       111.10         4.2
10 Terence Young      613.5667        12.60         2.3
11 Peter R. Hunt      291.5000        37.30         0.6
12 Irvin Kershner     380.0000        86.00         NaN
13 Ken Hughes         315.0000        85.00         NaN

In [ ]:
# Realizamos un ejercicio similar al anterior, agregando datos a nivel actor
df_james_bond %>% group_by(Actor) %>% summarise(
  total_salary = sum(`Bond Actor Salary`,na.rm = TRUE)
  ,max_salary_in_movie = max(`Bond Actor Salary`,na.rm = TRUE)  # función max() aplicada a salario de actor en película (sueldo mayor en película)
  ,count_movies = n()                                           # n() cuenta observaciones (cantidad de películas)
) %>% arrange(desc(total_salary))

Warning message in max(`Bond Actor Salary`, na.rm = TRUE):
“no non-missing arguments to max; returning -Inf”
`summarise()` ungrouping output (override with `.groups` argument)

  Actor          total_salary max_salary_in_movie count_movies
1 Pierce Brosnan 46.5         17.9                4
2 Daniel Craig   25.9         14.5                4
3 Sean Connery   20.3          5.8                7
4 Roger Moore    16.9          9.1                7
5 Timothy Dalton 13.1          7.9                2
6 George Lazenby  0.6          0.6                1
7 David Niven     0.0         -Inf                1

### AGREGACIONES CONDICIONADAS
---
En ocasiones, nos interesa definir un subconjunto específico de observaciones (filas) para cada variable agregada. En otras palabras, podemos definir condiciones específicas para cada variable al configurar una función de agregación.

In [ ]:
# En el ejemplo a continuación, realizaremos una agregación global (sin agrupar), pero definiendo condiciones en las variables agregadas
df_james_bond %>% summarise(
  sum_salary_Roger_Moore = sum(`Bond Actor Salary`[Actor == 'Roger Moore'],na.rm = TRUE)    # únicamente suma de salarios cuando el actor es Rooger Moore
  ,sum_salary_Daniel_Craig = sum(`Bond Actor Salary`[Actor == 'Daniel Craig'],na.rm = TRUE) # únicamente suma de salarios cuando el actor es Daniel Craig
)

  sum_salary_Roger_Moore sum_salary_Daniel_Craig
1 16.9                   25.9

In [ ]:
# Las agregaciones condicionadas pueden utilizarse para "pivotear" (o "transponer") una tabla (es decir, cambiar filas por columnas)
## en el ejercicio debajo no utilizamos agregación condicionada y obtenemos la misma información, reportada de otra forma

df_james_bond %>% filter(
  Actor %in% c('Roger Moore','Daniel Craig')            # filtramos por dos actores      
) %>% group_by(
  Actor                                                 # agrupamos por actor (quiero agrupar la variable agregada según actor)
) %>% summarise(
  sum_salary = sum(`Bond Actor Salary`,na.rm = TRUE)    # suma de salarios en películas
)

`summarise()` ungrouping output (override with `.groups` argument)

  Actor        sum_salary
1 Daniel Craig 25.9
2 Roger Moore  16.9

In [ ]:
# Realizamos otro ejercicio de agregaciones condicionadas
## en este caso, agrupamos las métricas agregadas según Director (observar que siempre agrupamos según variables categóricas)

df_james_bond %>% group_by(Director) %>% summarise(
  total_actor_salary = sum(`Bond Actor Salary`,na.rm = TRUE)                                # esta variable agregada no es condicionada, no estamos limitando las observaciones a ser agragadas
  ,sum_salary_Roger_Moore = sum(`Bond Actor Salary`[Actor == 'Roger Moore'],na.rm = TRUE)   # agregamos salarios para actor Roger Moore
  ,sum_salary_Daniel_Craig = sum(`Bond Actor Salary`[Actor == 'Daniel Craig'],na.rm = TRUE) # agregamos salarios para actor Daniel Craig
) %>% arrange(desc(total_actor_salary))

## como resultado, obtenemos (i) la suma total salarios de actores según Director y (ii) la suma de salarios específica para dos actores
## aparentemente, el actor Roger Moore únicamente ha hecho películas de James Bond con el director John Glen, por tanto el resto de directores tienen 0 a la variable agregada (condicionada a actor Roger Moore)

`summarise()` ungrouping output (override with `.groups` argument)

   Director           total_actor_salary sum_salary_Roger_Moore
1  John Glen          30.0               16.9
2  Lee Tamahori       17.9                0.0
3  Sam Mendes         14.5                0.0
4  Michael Apted      13.5                0.0
5  Roger Spottiswoode 10.0                0.0
6  Guy Hamilton        9.0                0.0
7  Martin Campbell     8.4                0.0
8  Marc Forster        8.1                0.0
9  Terence Young       6.9                0.0
10 Lewis Gilbert       4.4                0.0
11 Peter R. Hunt       0.6                0.0
12 Irvin Kershner      0.0                0.0
13 Ken Hughes          0.0                0.0
   sum_salary_Daniel_Craig
1   0.0
2   0.0
3  14.5
4   0.0
5   0.0
6   0.0
7   3.3
8   8.1
9   0.0
10  0.0
11  0.0
12  0.0
13  0.0

# EJERCICIOS
---

## SELECCIONANDO COLUMNAS Y FILTRANDO FILAS

#### EX.1.A
Partiendo del dataset de personajes de Star Wars, filtrar por aquellos que sean originarios de "Tatooine", "Naboo" o "Kashyyyk". Seleccionar únicamente columnas name, homeworld y species

In [ ]:
df_star_wars = fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_star_wars.csv")
glimpse(df_star_wars)

Rows: 87
Columns: 10
$ name       <chr> "Mon Mothma", "Yoda", "Tion Medon", "Ratts Tyerell", "Luke…
$ height     <int> 150, 66, 206, 79, 172, 96, 165, 228, 188, 188, 184, 150, 1…
$ mass       <dbl> NA, 17.0, 80.0, 15.0, 77.0, 32.0, 75.0, 112.0, 79.0, 84.0,…
$ hair_color <chr> "auburn", "white", "none", "none", "blond", "", "brown", "…
$ skin_color <chr> "fair", "green", "grey", "grey & blue", "fair", "white & b…
$ eye_color  <chr> "blue", "brown", "black", "unknown", "blue", "red", "blue"…
$ birth_year <dbl> 48.0, 896.0, NA, NA, 19.0, 33.0, 47.0, 200.0, NA, 72.0, NA…
$ gender     <chr> "female", "male", "male", "male", "male", "", "female", "m…
$ homeworld  <chr> "Chandrila", "", "Utapau", "Aleen Minor", "Tatooine", "Nab…
$ species    <chr> "Human", "Yoda's species", "Pau'an", "Aleena", "Human", "D…

In [ ]:
df_star_wars %>% filter(
  homeworld %in% c('Tatooine','Naboo','Kashyyyk')
  ,species != 'Droid'
) %>% select(
  name
  ,homeworld
  ,species
)

   name               homeworld species
1  Luke Skywalker     Tatooine  Human
2  Beru Whitesun lars Tatooine  Human
3  Chewbacca          Kashyyyk  Wookiee
4  Rugor Nass         Naboo     Gungan
5  Tarfful            Kashyyyk  Wookiee
6  Palpatine          Naboo     Human
7  Biggs Darklighter  Tatooine  Human
8  Shmi Skywalker     Tatooine  Human
9  Cordé              Naboo     Human
10 Gregar Typho       Naboo     Human
11 Dormé              Naboo     Human
12 Quarsh Panaka      Naboo
13 Darth Vader        Tatooine  Human
14 Roos Tarpals       Naboo     Gungan
15 Owen Lars          Tatooine  Human
16 Cliegg Lars        Tatooine  Human
17 Anakin Skywalker   Tatooine  Human
18 Padmé Amidala      Naboo     Human
19 Ric Olié           Naboo
20 Jar Jar Binks      Naboo     Gungan

#### EX.1.B
Importa el dataset de valoraciones de películas de IMDB, filtrar por películas (i) cuyo actor principal sea Johnny Depp y su valoración (*imdb score*) mayor a 7 o (ii) cuyo director sea James Cameron y su valoración mayor a 8. Seleccionar únicamente variables *actor_1_name*, *director_name*, *imdb_score*

In [ ]:
# Importar el dataset
df_movies = fread("https://data-wizards.s3.amazonaws.com/datasets/movies.csv")
glimpse(df_movies)

Rows: 4,916
Columns: 28
$ color                     <chr> "Color", "Color", "Color", "Color", "", "Co…
$ director_name             <chr> "James Cameron", "Gore Verbinski", "Sam Men…
$ num_critic_for_reviews    <int> 723, 302, 602, 813, NA, 462, 392, 324, 635,…
$ duration                  <int> 178, 169, 148, 164, NA, 132, 156, 100, 141,…
$ director_facebook_likes   <int> 0, 563, 0, 22000, 131, 475, 0, 15, 0, 282, …
$ actor_3_facebook_likes    <int> 855, 1000, 161, 23000, NA, 530, 4000, 284, …
$ actor_2_name              <chr> "Joel David Moore", "Orlando Bloom", "Rory …
$ actor_1_facebook_likes    <int> 1000, 40000, 11000, 27000, 131, 640, 24000,…
$ gross                     <dbl> 760505847, 309404152, 200074175, 448130642,…
$ genres                    <chr> "Action|Adventure|Fantasy|Sci-Fi", "Action|…
$ actor_1_name              <chr> "CCH Pounder", "Johnny Depp", "Christoph Wa…
$ movie_title               <chr> "Avatar", "Pirates of the Caribbean: At Wor…
$ num_voted_users           <int> 886204, 471220, 275868, 1144337, 8, 212204,…
$ cast_total_facebook_likes <int> 4834, 48350, 11700, 106759, 143, 1873, 4605…
$ actor_3_name              <chr> "Wes Studi", "Jack Davenport", "Stephanie S…
$ facenumber_in_poster      <int> 0, 0, 1, 0, 0, 1, 0, 1, 4, 3, 0, 0, 1, 2, 1…
$ plot_keywords             <chr> "avatar|future|marine|native|paraplegic", "…
$ movie_imdb_link           <chr> "http://www.imdb.com/title/tt0499549/?ref_=…
$ num_user_for_reviews      <int> 3054, 1238, 994, 2701, NA, 738, 1902, 387, …
$ language                  <chr> "English", "English", "English", "English",…
$ country                   <chr> "USA", "USA", "UK", "USA", "", "USA", "USA"…
$ content_rating            <chr> "PG-13", "PG-13", "PG-13", "PG-13", "", "PG…
$ budget                    <dbl> 237000000, 300000000, 245000000, 250000000,…
$ title_year                <int> 2009, 2007, 2015, 2012, NA, 2012, 2007, 201…
$ actor_2_facebook_likes    <int> 936, 5000, 393, 23000, 12, 632, 11000, 553,…
$ imdb_score                <dbl> 7.9, 7.1, 6.8, 8.5, 7.1, 6.6, 6.2, 7.8, 7.5…
$ aspect_ratio              <dbl> 1.78, 2.35, 2.35, 2.35, NA, 2.35, 2.35, 1.8…
$ movie_facebook_likes      <int> 33000, 0, 85000, 164000, 0, 24000, 0, 29000…

In [ ]:
df_movies %>% filter(
  (actor_1_name == 'Johnny Depp' & imdb_score>7) | (director_name == 'James Cameron' & imdb_score>8)
) %>% select(
  actor_1_name
  ,director_name
  ,imdb_score
)

   actor_1_name  director_name   imdb_score
1  Johnny Depp   Gore Verbinski  7.1
2  Johnny Depp   Gore Verbinski  7.3
3  Johnny Depp   Gore Verbinski  7.2
4  Johnny Depp   Gore Verbinski  8.1
5  Joe Morton    James Cameron   8.5
6  Johnny Depp   Wes Craven      7.5
7  Johnny Depp   Mike Newell     7.8
8  Johnny Depp   Ted Demme       7.6
9  Johnny Depp   Tim Burton      7.4
10 Johnny Depp   Marc Forster    7.8
11 Johnny Depp   Tim Burton      7.9
12 Johnny Depp   Terry Gilliam   7.7
13 Johnny Depp   Tim Burton      7.9
14 Michael Biehn James Cameron   8.4
15 Johnny Depp   Lasse Hallström 7.8
16 Michael Biehn James Cameron   8.1
17 Johnny Depp   Oliver Stone    8.1

## ORDERNAR FILAS Y CREAR NUEVAS COLUMNAS

#### EX.2.A
Importa el dataset con datos del WHO (World Health Organization) y crea una nueva variable que identifique si un país está por debajo de la mediana de PIB per cápita (a nivel mundial). Filtra por países europeos que estén por debajo de la mediana mundial de PIB per cápita y selecciona únicamente las variables relevantes

In [ ]:
df_who = fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_na_who.csv")
glimpse(df_who)

Rows: 196
Columns: 13
$ Country                                                  <chr> "Afghanistan…
$ CountryID                                                <int> 1, 2, 3, 4, …
$ ContinentID                                              <int> 1, 2, 3, 2, …
$ `Adolescent fertility rate (%)`                          <int> 151, 27, 6, …
$ `Adult literacy rate (%)`                                <dbl> 28.0, 98.7, …
$ `Gross national income per capita (PPP international $)` <int> NA, 6000, 59…
$ `Net primary school enrolment ratio female (%)`          <int> NA, 93, 94, …
$ `Net primary school enrolment ratio male (%)`            <int> NA, 94, 96, …
$ `Population (in thousands) total`                        <int> 26088, 3172,…
$ `Population annual growth rate (%)`                      <dbl> 4.0, 0.6, 1.…
$ `Population in urban areas (%)`                          <int> 23, 46, 64, …
$ `Population living below the poverty line`               <dbl> NA, 2.0, NA,…
$ Continent                                                <chr> "Middle East…

In [ ]:
df_who %>% mutate(
  is_below_median_GDP = if_else(
    `Gross national income per capita (PPP international $)`< median(df_who$`Gross national income per capita (PPP international $)`,na.rm = TRUE)
    ,1
    ,0
    )
) %>% filter(
  Continent == 'Europe'
  ,is_below_median_GDP==1
) %>% select(
  Country
  ,Continent
  ,`Gross national income per capita (PPP international $)`
  ,is_below_median_GDP
) %>% arrange(
  desc(`Gross national income per capita (PPP international $)`)
)

   Country      Continent
1  Ukraine      Europe
2  Albania      Europe
3  Azerbaijan   Europe
4  Armenia      Europe
5  Turkmenistan Europe
6  Georgia      Europe
7  Moldova      Europe
8  Uzbekistan   Europe
9  Kyrgyzstan   Europe
10 Tajikistan   Europe
   Gross national income per capita (PPP international $) is_below_median_GDP
1  6110                                                   1
2  6000                                                   1
3  5430                                                   1
4  4950                                                   1
5  3990                                                   1
6  3880                                                   1
7  2660                                                   1
8  2190                                                   1
9  1790                                                   1
10 1560                                                   1

#### EX.2.B
Partiendo del dataset con empresas del ranking de fortune, filtrar por empresas del sector tecnológico que tengan beneficios positivos. Para estas empresas, crear una nueva variable con una clasificación de empresas del sector tecnológico según el cuartil de beneficios. Ordenar según beneficio (descendente) y seleccionar únicamente las variables relevantes en este ejercicio

In [ ]:
# Importamos dataset
df_fortune1000 = fread("https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv")
glimpse(df_fortune1000)

Rows: 1,000
Columns: 8
$ Rank      <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, …
$ Company   <chr> "Walmart", "Exxon Mobil", "Apple", "Berkshire Hathaway", "M…
$ Sector    <chr> "Retailing", "Energy", "Technology", "Financials", "Health …
$ Industry  <chr> "General Merchandisers", "Petroleum Refining", "Computers, …
$ Location  <chr> "Bentonville, AR", "Irving, TX", "Cupertino, CA", "Omaha, N…
$ Revenue   <int> 482130, 246204, 233715, 210821, 181241, 157107, 153290, 152…
$ Profits   <int> 14694, 16150, 53394, 24083, 1476, 5813, 5237, 9687, 7373, 1…
$ Employees <int> 2300000, 75600, 110000, 331000, 70400, 200000, 199000, 2150…

In [ ]:
df_fortune1000 %>% filter(
  Sector == 'Technology'
  ,Profits>0
) %>% mutate(
  Segment = case_when(
    Profits > quantile(df_fortune1000$Profits[df_fortune1000$Sector=='Technology' & df_fortune1000$Profits>0])[4] ~ 'top quantile'
    ,Profits > quantile(df_fortune1000$Profits[df_fortune1000$Sector=='Technology' & df_fortune1000$Profits>0])[3] ~ 'mid-top quantile'
    ,Profits > quantile(df_fortune1000$Profits[df_fortune1000$Sector=='Technology' & df_fortune1000$Profits>0])[2] ~ 'mid-low quantile'
    ,Profits > quantile(df_fortune1000$Profits[df_fortune1000$Sector=='Technology' & df_fortune1000$Profits>0])[1] ~ 'low quantile'
  )
) %>% arrange(
  desc(Profits)
) %>% select(
  Company
  ,Sector
  ,Profits
  ,Segment
)

   Company                            Sector     Profits Segment
1  Apple                              Technology 53394   top quantile
2  Alphabet                           Technology 16348   top quantile
3  IBM                                Technology 13190   top quantile
4  Microsoft                          Technology 12193   top quantile
5  Intel                              Technology 11420   top quantile
6  Oracle                             Technology  9938   top quantile
7  Cisco Systems                      Technology  8981   top quantile
8  Qualcomm                           Technology  5271   top quantile
9  HP                                 Technology  4554   top quantile
10 Facebook                           Technology  3688   top quantile
11 Danaher                            Technology  3357   top quantile
12 Texas Instruments                  Technology  2986   top quantile
13 Micron Technology                  Technology  2899   top quantile
14 Priceline Group                    Technology  2551   top quantile
15 EMC                                Technology  1990   top quantile
16 Thermo Fisher Scientific           Technology  1975   top quantile
17 eBay                               Technology  1725   top quantile
18 Cognizant Technology Solutions     Technology  1624   top quantile
19 Western Digital                    Technology  1465   top quantile
20 Applied Materials                  Technology  1377   top quantile
21 Corning                            Technology  1339   top quantile
22 Broadcom                           Technology   978   mid-top quantile
23 Activision Blizzard                Technology   892   mid-top quantile
24 Symantec                           Technology   878   mid-top quantile
25 Electronic Arts                    Technology   875   mid-top quantile
26 Liberty Interactive                Technology   869   mid-top quantile
27 CA                                 Technology   846   mid-top quantile
28 Skyworks Solutions                 Technology   798   mid-top quantile
29 Expedia                            Technology   765   mid-top quantile
30 Amphenol                           Technology   764   mid-top quantile
⋮  ⋮                                  ⋮          ⋮       ⋮
55 F5 Networks                        Technology 365     mid-low quantile
56 Mettler-Toledo International       Technology 353     mid-low quantile
57 Brocade Communications Systems     Technology 340     mid-low quantile
58 Harris                             Technology 334     mid-low quantile
59 Akamai Technologies                Technology 321     mid-low quantile
60 Citrix Systems                     Technology 319     mid-low quantile
61 Jabil Circuit                      Technology 284     mid-low quantile
62 Leidos Holdings                    Technology 254     mid-low quantile
63 Booz Allen Hamilton Holding        Technology 233     mid-low quantile
64 Synopsys                           Technology 226     low quantile
65 PerkinElmer                        Technology 212     low quantile
66 ON Semiconductor                   Technology 206     low quantile
67 Maxim Integrated Products          Technology 206     low quantile
68 Teledyne Technologies              Technology 196     low quantile
69 Gartner                            Technology 176     low quantile
70 Maximus                            Technology 158     low quantile
71 EchoStar                           Technology 153     low quantile
72 CACI International                 Technology 126     low quantile
73 Rackspace Hosting                  Technology 126     low quantile
74 Trimble Navigation                 Technology 121     low quantile
75 IAC/InterActiveCorp                Technology 120     low quantile
76 Science Applications International Technology 117     low quantile
77 Super Micro Computer               Technology 102     low quantile
78 Benchmark Electronics              Technology  95     low quantile
79 Plexus                             Technology  94     low quantile
80 VeriFone Systems                   Technology  79     low quantile
81 Diebold                            Technology  74     low quantile
82 Amkor Technology                   Technology  57     low quantile
83 Groupon                            Technology  21     low quantile
84 Ciena                              Technology  12     NA

## AGREGACIONES

#### EX.3.A 
Agregar *revenue* total, segín sector productivo. Ordenar de forma descendente por *revenue*. Para las empresas incluidas en el ranking, ¿cuáles son los sectores que generan más facturación?

In [ ]:
df_fortune1000 = fread("https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv")
glimpse(df_fortune1000)

In [ ]:
df_fortune1000 %>% group_by(
    Sector
  ) %>% summarise(
    total_revenue = sum(Revenue)
  ) %>% arrange(
    desc(total_revenue)
  )

`summarise()` ungrouping output (override with `.groups` argument)

   Sector                       total_revenue
1  Financials                   2217159
2  Health Care                  1614707
3  Energy                       1517809
4  Retailing                    1465076
5  Technology                   1377600
6  Food, Beverages & Tobacco     555967
7  Industrials                   497581
8  Food and Drug Stores          483769
9  Motor Vehicles & Parts        482540
10 Telecommunications            461834
11 Wholesalers                   444800
12 Transportation                408508
13 Aerospace & Defense           357940
14 Business Services             272195
15 Materials                     259145
16 Chemicals                     243897
17 Household Products            234737
18 Media                         220764
19 Hotels, Resturants & Leisure  169546
20 Engineering & Construction    153983
21 Apparel                        95968

#### EX.3.B
Partiendo del dataset con datos de empleados estatales, agregar la mediana de salario base según departamento. Tener en cuenta únicamente empleados full time

In [ ]:
df_employees = fread("https://data-wizards.s3.amazonaws.com/datasets/employees.csv")
glimpse(df_employees)

Rows: 2,000
Columns: 10
$ UNIQUE_ID         <int> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1…
$ POSITION_TITLE    <chr> "ASSISTANT DIRECTOR (EX LVL)", "LIBRARY ASSISTANT",…
$ DEPARTMENT        <chr> "Municipal Courts Department", "Library", "Houston …
$ BASE_SALARY       <dbl> 121862, 26125, 45279, 63166, 56347, 66614, 71680, 4…
$ RACE              <chr> "Hispanic/Latino", "Hispanic/Latino", "White", "Whi…
$ EMPLOYMENT_TYPE   <chr> "Full Time", "Full Time", "Full Time", "Full Time",…
$ GENDER            <chr> "Female", "Female", "Male", "Male", "Male", "Male",…
$ EMPLOYMENT_STATUS <chr> "Active", "Active", "Active", "Active", "Active", "…
$ HIRE_DATE         <date> 2006-06-12, 2000-07-19, 2015-02-03, 1982-02-08, 19…
$ JOB_DATE          <date> 2012-10-13, 2010-09-18, 2015-02-03, 1991-05-25, 19…

In [ ]:
df_employees %>% filter(
  EMPLOYMENT_TYPE == 'Full Time'
) %>% group_by(
  DEPARTMENT
) %>% summarise(
  median_salary = median(BASE_SALARY,na.rm = TRUE)
) %>% arrange(
  desc(median_salary)
)

`summarise()` ungrouping output (override with `.groups` argument)

   DEPARTMENT                     median_salary
1  Mayor's Office                 95783.0
2  Legal Department               92505.0
3  Finance                        80542.0
4  Houston Information Tech Svcs  74951.0
5  Houston Fire Department (HFD)  61921.0
6  Houston Police Department-HPD  61643.0
7  Housing and Community Devp.    57284.5
8  City Controller's Office       57054.0
9  City Council                   54000.0
10 Planning & Development         51418.0
11 Human Resources Dept.          51207.0
12 Health & Human Services        46717.0
13 Municipal Courts Department    45562.0
14 Fleet Management Department    44158.0
15 Public Works & Engineering-PWE 44096.0
16 Dept of Neighborhoods (DON)    43742.0
17 General Services Department    42473.5
18 Houston Airport System (HAS)   41953.5
19 Houston Emergency Center (HEC) 39104.0
20 Library                        38563.0
21 Convention and Entertainment   38397.0
22 Admn. & Regulatory Affairs     37710.0
23 Solid Waste Management         37045.0
24 Parks & Recreation             33634.0

#### EX.3.C 
Partiendo del df con personajes de Star Wars, ¿cuál es la combinación entre *homeworld* y *species* con mayor número de personajes?
##### Nota: algunos personajes no tienen información disponible en los campos *homeworld* y *species*. En este dataset, los campos vacíos no figuran como NA (formalmente vacíos), sino que tienen una entrada vacía de texto (por tanto el sistema no lo reconoce como NA)

In [ ]:
df_star_wars = fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_star_wars.csv")

In [ ]:
df_star_wars %>% filter(
  !homeworld == ''            # descartamos personajes con homeworld vacío. En este caso, negamos toda la condición "es igual a"
  ,species != ''              # descartamos personaje con species vacío. En este caso, a modo de presentar una opción alternativa, utilizamos el operador "es distinto"
  ) %>% group_by(             # agrupamos por dos variables categóricas
    homeworld
    ,species
  ) %>% summarise(
    total_count = n()         # definimos agregación y utilizamos función de agregación n() para contar observaciones
  ) %>% arrange(
    desc(total_count)         # ordenamos con criterio descendente
  )

`summarise()` regrouping output by 'homeworld' (override with `.groups` argument)

   homeworld      species      total_count
1  Tatooine       Human        8
2  Naboo          Human        5
3  Alderaan       Human        3
4  Naboo          Gungan       3
5  Corellia       Human        2
6  Coruscant      Human        2
7  Kamino         Kaminoan     2
8  Kashyyyk       Wookiee      2
9  Mirial         Mirialan     2
10 Ryloth         Twi'lek      2
11 Tatooine       Droid        2
12 Aleen Minor    Aleena       1
13 Bespin         Human        1
14 Bestine IV     Human        1
15 Cato Neimoidia Neimodian    1
16 Cerea          Cerean       1
17 Champala       Chagrian     1
18 Chandrila      Human        1
19 Concord Dawn   Human        1
20 Coruscant      Tholothian   1
21 Dathomir       Zabrak       1
22 Dorin          Kel Dor      1
23 Endor          Ewok         1
24 Eriadu         Human        1
25 Geonosis       Geonosian    1
26 Glee Anselm    Nautolan     1
27 Haruun Kal     Human        1
28 Iktotch        Iktotchi     1
29 Iridonia       Zabrak       1
30 Kalee          Kaleesh      1
31 Kamino         Human        1
32 Malastare      Dug          1
33 Mon Cala       Mon Calamari 1
34 Muunilinst     Muun         1
35 Naboo          Droid        1
36 Nal Hutta      Hutt         1
37 Ojom           Besalisk     1
38 Quermia        Quermian     1
39 Rodia          Rodian       1
40 Serenno        Human        1
41 Shili          Togruta      1
42 Skako          Skakoan      1
43 Socorro        Human        1
44 Stewjon        Human        1
45 Sullust        Sullustan    1
46 Toydaria       Toydarian    1
47 Trandosha      Trandoshan   1
48 Troiken        Xexto        1
49 Tund           Toong        1
50 Utapau         Pau'an       1
51 Vulpter        Vulptereen   1
52 Zolan          Clawdite     1

#### EX.3.D
El dataset del WHO (World Health Organization) contiene data de todos los países del mundo. Analizar la mediana y dispersión del PIB per cápita de los distintos continentes. ¿Qué podemos decir sobre la dispersión del PIB per capita en las distintas regiones? ¿en qué regiones los países tienen mayor nivel de disparidad en términos de PIB per capita?

##### Se requiere calcular las siguiente variables agregadas según continente:


*   Mediana de PIB per cápita
*   Deviación estándar de PIB per cápita
*   Coeficiente de variación de PIB pér cápita (sd/mediana)

In [ ]:
df_who = fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_na_who.csv")
glimpse(df_who)

Rows: 196
Columns: 13
$ Country                                                  <chr> "Afghanistan…
$ CountryID                                                <int> 1, 2, 3, 4, …
$ ContinentID                                              <int> 1, 2, 3, 2, …
$ `Adolescent fertility rate (%)`                          <int> 151, 27, 6, …
$ `Adult literacy rate (%)`                                <dbl> 28.0, 98.7, …
$ `Gross national income per capita (PPP international $)` <int> NA, 6000, 59…
$ `Net primary school enrolment ratio female (%)`          <int> NA, 93, 94, …
$ `Net primary school enrolment ratio male (%)`            <int> NA, 94, 96, …
$ `Population (in thousands) total`                        <int> 26088, 3172,…
$ `Population annual growth rate (%)`                      <dbl> 4.0, 0.6, 1.…
$ `Population in urban areas (%)`                          <int> 23, 46, 64, …
$ `Population living below the poverty line`               <dbl> NA, 2.0, NA,…
$ Continent                                                <chr> "Middle East…

In [ ]:
df_who %>% group_by(
    Continent                                                                                   # agrupamos por continente
  ) %>% summarise(
    median_GDP = median(`Gross national income per capita (PPP international $)`,na.rm=TRUE)    # agregamos mediana
    ,std_GDP = sd(`Gross national income per capita (PPP international $)`,na.rm=TRUE)          # agregamos sd
  ) %>% mutate(
    coefficient_variation = std_GDP/median_GDP                                                  # partiendo de la data PREVIAMENTE AGREGADA, calculamos una nueva métrica
  ) %>% arrange(
    desc(coefficient_variation)                                                                 # ordenamos según nueva métrica agregada
  )

`summarise()` ungrouping output (override with `.groups` argument)

  Continent     median_GDP std_GDP   coefficient_variation
1 Africa         1205       4145.871 3.4405567
2 Oceania        5285      14252.514 2.6967861
3 Middle East    9800      13641.646 1.3920047
4 North America 15150      14607.104 0.9641653
5 Europe        15905      14278.685 0.8977482
6 Asia           2460       1457.250 0.5923781
7 South America  7065       3391.811 0.4800865

#### EX.3.E
El dataset a continuación contiene un ranking con los videojuegos más vendido de la historia. Agregar ventas totales (todas las regiones) según *publisher* para los videojuegos de (únicamente) tres géneros: *sports*, *action* y *adventure*. Crear métricas específicas agregadas para cada uno de los tres géneros

In [ ]:
df_videogames_games = fread("https://data-wizards.s3.amazonaws.com/datasets/dataset_videogames_games.csv")
glimpse(df_videogames_games)

Rows: 15,947
Columns: 10
$ rank          <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, …
$ name          <chr> "Wii Sports", "Super Mario Bros.", "Mario Kart Wii", "W…
$ platform_code <chr> "Wii", "NES", "Wii", "Wii", "GB", "GB", "DS", "Wii", "W…
$ year          <int> 2006, 1985, 2008, 2009, 1996, 1989, 2006, 2006, 2009, 1…
$ genre         <chr> "Sports", "Platform", "Racing", "Sports", "Role-Playing…
$ publisher     <chr> "Nintendo", "Nintendo", "Nintendo", "Nintendo", "Ninten…
$ NA_sales      <dbl> 41.49, 29.08, 15.85, 15.75, 11.27, 23.20, 11.38, 14.03,…
$ EU_sales      <dbl> 29.02, 3.58, 12.88, 11.01, 8.89, 2.26, 9.23, 9.20, 7.06…
$ JP_sales      <dbl> 3.77, 6.81, 3.79, 3.28, 10.22, 4.22, 6.50, 2.93, 4.70, …
$ Other_sales   <dbl> 8.46, 0.77, 3.31, 2.96, 1.00, 0.58, 2.90, 2.85, 2.26, 0…

In [ ]:
df_videogames_games %>% mutate(
  total_sales = NA_sales + EU_sales + JP_sales + Other_sales
) %>% group_by(
  publisher
) %>% summarise(
  sales_sports = sum(total_sales[genre=='Sports'])
  ,sales_action = sum(total_sales[genre=='Action'])
  ,sales_adventure = sum(total_sales[genre=='Adventure'])
  ,sales = sum(total_sales[genre %in% c('Sports','Action','Adventure')])
) %>% arrange(
  desc(sales)
)

`summarise()` ungrouping output (override with `.groups` argument)

    publisher                              sales_sports sales_action
1   Electronic Arts                        457.33       115.35
2   Nintendo                               218.00       125.12
3   Take-Two Interactive                    74.77       211.11
4   Activision                              75.24       141.48
5   Ubisoft                                 23.35       139.19
6   Konami Digital Entertainment            96.96        69.58
7   Sony Computer Entertainment             59.43        93.28
8   THQ                                     13.02        88.93
9   Sega                                    71.67        30.09
10  Warner Bros. Interactive Entertainment   0.00       103.05
11  Capcom                                   0.47        84.55
12  Disney Interactive Studios               0.97        51.10
13  Eidos Interactive                        3.88        63.41
14  LucasArts                                0.00        59.60
15  Namco Bandai Games                      18.95        35.88
16  Atari                                   12.29        23.97
17  Tecmo Koei                               3.92        28.36
18  Square Enix                              0.00        28.11
19  Microsoft Game Studios                  14.63        11.83
20  Midway Games                            17.89         7.34
21  Virgin Interactive                       0.16        20.35
22  Acclaim Entertainment                   17.99         1.53
23  505 Games                               13.49         3.12
24  Deep Silver                              2.03        13.14
25  Vivendi Games                            0.11        11.74
26  Bethesda Softworks                       2.34         9.63
27  989 Studios                              8.97         2.63
28  D3Publisher                              0.75         9.75
29  GT Interactive                           0.77         8.87
30  Sony Computer Entertainment Europe       0.00         5.98
⋮   ⋮                                      ⋮            ⋮
536 System 3                               0            0
537 TalonSoft                              0            0
538 Team17 Software                        0            0
539 TechnoSoft                             0            0
540 Telegames                              0            0
541 Tetris Online                          0            0
542 The Learning Company                   0            0
543 Tivola                                 0            0
544 TOHO                                   0            0
545 TopWare Interactive                    0            0
546 Trion Worlds                           0            0
547 Tripwire Interactive                   0            0
548 Tryfirst                               0            0
549 TYO                                    0            0
550 Valve                                  0            0
551 Valve Software                         0            0
552 Vap                                    0            0
553 Vatical Entertainment                  0            0
554 Vic Tokai                              0            0
555 Visco                                  0            0
556 Warashi                                0            0
557 Wargaming.net                          0            0
558 Westwood Studios                       0            0
559 White Park Bay Software                0            0
560 Xing Entertainment                     0            0
561 Xplosiv                                0            0
562 Yacht Club Games                       0            0
563 Yamasa Entertainment                   0            0
564 Yuke's                                 0            0
565 Zenrin                                 0            0
    sales_adventure sales
1    4.74           577.42
2   35.67           378.79
3    7.56           293.44
4    5.42           222.14
5   22.20           184.74
6    7.20           173.74
7   13.54           166.25
8   19.97           121.92
9    7.15           108.91
10   0.58           103.63
11   9.97            94.99
12  17.75            69.82
13   0.67            67.96
14   2.03            61.63
15   5.24            60.07
16   2.26            38.52
17   1.01            33.29
18   2.32            30.43
19   1.61            28.07
20   0.35            25.58
21   0.78            21.29
22   1.23            20.75
23   0.75            17.36
24   1.65            16.82
25   1.56            13.41
26   0.00            11.97
27   0.00            11.60
28   0.72            11.22
29   0.00             9.64
30   2.63             8.61
⋮   ⋮               ⋮
536 0               0
537 0               0
538 0               0
539 0               0
540 0               0
541 0               0
542 0               0
543 0               0
544 0               0
545 0               0
546 0               0
547 0               0
548 0               0
549 0               0
550 0               0
551 0               0
552 0               0
553 0               0
554 0               0
555 0               0
556 0               0
557 0               0
558 0               0
559 0               0
560 0               0
561 0               0
562 0               0
563 0               0
564 0               0
565 0               0

#### EX.3.F
El dataset a continuación contiene un ranking de los 100 mejores álbumes de heavy metal, según la revista "Rolling Stones". Agregar la valoración (*rating*) medio según subgénero del metal e incluir métricas agregadas específicamente para cada década de año de publicación.

In [ ]:
df_rolling_stones_albums = fread("https://data-wizards.s3.amazonaws.com/datasets/rolling_stones_top_metal_albums.csv")
glimpse(df_rolling_stones_albums)

Rows: 100
Columns: 15
$ AlbumID_Rank           <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,…
$ Artist                 <chr> "Black Sabbath", "Metallica", "Judas Priest", …
$ Album                  <chr> "Paranoid", "Master of Puppets", "British Stee…
$ `Release Year`         <int> 1970, 1986, 1980, 1982, 1970, 1986, 1984, 1986…
$ Spotify_Album          <chr> "6r7LZXAVueS5DqdrvXJJK7", "41bTjcSaiEe4G40RVVH…
$ Description            <chr> "http://www.rollingstone.com/music/lists/the-1…
$ wiki                   <chr> "https://en.wikipedia.org/wiki/Paranoid_(album…
$ Duration               <chr> "41:47:00", "54:50:00", "35:59:00", "37:40:00"…
$ Minutes                <int> 41, 54, 35, 37, 39, 28, 85, 36, 39, 52, 47, 38…
$ Seconds                <int> 47, 50, 59, 40, 23, 59, 51, 15, 31, 53, 26, 42…
$ `Total Seconds`        <int> 2507, 3290, 2159, 2260, 2363, 1739, 5151, 2175…
$ Label                  <chr> "Warner Bros", "Elektra", "Columbia", "Harvest…
$ `Sub Metal Genre`      <chr> "Heavy Metal", "Thrash Metal", "New Wave of Br…
$ Rating                 <dbl> 5.0, 5.0, 4.5, 2.5, 5.0, 4.5, 5.0, 2.5, 4.0, 4…
$ `Rolling Stone Rating` <chr> "Rolling Stone", "Rolling Stone", "AllMusic", …

In [ ]:
df_rolling_stones_albums %>% mutate(
  decade = case_when(
    `Release Year` <1980 ~ '70s'
    ,`Release Year` <1990 ~ '80s'
    ,`Release Year` <2000 ~ '90s'
    ,`Release Year` <2010 ~ '2000s'
    ,`Release Year` <2020 ~ '2010s'
    , TRUE == TRUE ~ 'other'
  )
) %>% group_by(
  `Sub Metal Genre`
) %>% summarise(
  avg_rating_70s = mean(Rating[decade=='70s'],na.rm=TRUE)
  ,avg_rating_80s = mean(Rating[decade=='80s'],na.rm=TRUE)
  ,avg_rating_90s = mean(Rating[decade=='90s'],na.rm=TRUE)
  ,avg_rating_2000s = mean(Rating[decade=='2000s'],na.rm=TRUE)
  ,avg_rating_2010s = mean(Rating[decade=='2010s'],na.rm=TRUE)
  ,avg_rating_all = mean(Rating,na.rm=TRUE)
) %>% arrange(
  desc(avg_rating_all)
)

`summarise()` ungrouping output (override with `.groups` argument)

   Sub Metal Genre                 avg_rating_70s avg_rating_80s avg_rating_90s
1  Death Metal                          NaN            NaN       4.625000
2  Drone Metal                          NaN            NaN            NaN
3  Metalcore                            NaN            NaN            NaN
4  Prog Metal                           NaN       3.000000       4.500000
5  Black Metal                          NaN       4.375000       4.250000
6  Grindcore                            NaN       4.500000       4.000000
7  Post Metal                           NaN            NaN       5.000000
8  Industrial Metal                     NaN       4.500000       4.000000
9  New Wave of British Heavy Metal 4.500000       4.166667            NaN
10 Groove Metal                         NaN            NaN       4.000000
11 Nu Metal                             NaN            NaN       4.500000
12 Stoner Rock                          NaN            NaN       4.000000
13 Heavy Metal                     4.166667       3.666667            NaN
14 Thrash Metal                         NaN       3.954545       3.500000
15 Power Metal                          NaN       4.000000            NaN
16 Alternative Metal                    NaN       4.000000       3.583333
17 Sludge Metal                         NaN            NaN       4.000000
18 Hair Metal                           NaN       3.250000            NaN
19 Rap Metal                            NaN            NaN       3.000000
20 Speed Metal                          NaN       2.750000       3.500000
21 Hard Rock                            NaN       2.500000            NaN
22 Gothic Metal                         NaN            NaN       2.000000
   avg_rating_2000s avg_rating_2010s avg_rating_all
1       NaN         NaN              4.625000
2  4.500000         NaN              4.500000
3  4.500000         NaN              4.500000
4  4.666667         NaN              4.388889
5       NaN         NaN              4.333333
6  4.500000         NaN              4.333333
7  5.000000         3.0              4.333333
8       NaN         NaN              4.250000
9       NaN         NaN              4.214286
10      NaN         NaN              4.000000
11 3.750000         NaN              4.000000
12      NaN         NaN              4.000000
13 3.000000         4.5              3.892857
14 3.000000         NaN              3.800000
15 3.500000         NaN              3.750000
16 3.000000         NaN              3.550000
17 3.250000         NaN              3.500000
18      NaN         NaN              3.250000
19      NaN         NaN              3.000000
20      NaN         NaN              3.000000
21      NaN         NaN              2.500000
22      NaN         NaN              2.000000